body {
  background-color: #669999;
  color:#003300;
}

h1 {
  background-color:#e3e8e8;
}

h2 {
  text-decoration:underline;
  text-align: center;
}

.jumbotron {
  padding-top: 50px;
  background: url('../img/jumbo.jpg');
  background-position:center;
}

#mission {
  font-size: 2.3em;
}

ul {
  list-style-type:georgian;
}

.link {
  color:#000099;
}

.inverse {
  background-color: #e3e8e8;
}

.ingredient {
  text-decoration:underline;
  font-weight: bolder;
}
